<footer class="footer">
  <small>
    Geocoder by Matt Pazoles
  </small>
  <nav>
    <ul>
      <li> <%= link_to "Home", root_path %></li>
      <li> <%= link_to "Profile", current_user %></li>
    </ul>
  </nav>
</footer>